{% extends 'EltonCoreBundle:Core:backOffice.html.twig' %}

{% block body %}
    {{ parent() }}
    <div  style="margin: 0px 0px 25px 0px;">
        <h1 class="label label-warning bold">&nbsp  Liste des activités de {{level.libelle}}</h1>
    </div>
    <center>   
            {% for lesson in lessons %}
            <table class="breadcrumb" style="margin: 0px 0px 100px 0px">
                <thead>
                    <tr>
                        <th>Nom du champ &nbsp</th>
                        <th>Valeur du champ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="txtOrangeElton">Nom d'utilisateur</th>
                        <td>{{ lesson.libelle }}</td>
                    </tr>
                    <tr>
                        <th class="txtOrangeElton">Email</th>
                        <td>{{ lesson.id }}</td>
                    </tr>
                    <tr>
                        <td>
                            <br/>
                            <a class="btn shadow bold btnBeigeEltonPetit" href="{{ path('lesson_show', {'id' : lesson.id})}}" style="margin: 0px 0px 0px 90px;">Détails</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            {% endfor %}
    </center>    
    {% endblock %}
