{% extends "::base.html.twig" %}

{% block body -%}
    {{ parent() }}
    {% for activity in entity.activitys %}
        {% if activity.files.url == "mp3" %}
            MP3MP3MP3
        {% elseif activity.files.url == "jpg" or activity.files.url == "jpeg" or activity.files.url == "png" %}
            JPGJPGJPG
        {% elseif activity.files.url == "mp4" %}
            MP4MP4MP4
        {% elseif activity.files.url == "js" %}
            <div class="modal fade" id="myGameModal" tabindex="-1" role="dialog" aria-labelledby="myGameModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myGameModalLabel">Panier plein</h4>
                        </div>
                        <div class="modal-body" style="text-align:center;">
                            <script src="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}"></script>
                            <div  style="border:1px solid black;z-index:1;-moz-border-radius:8px;border-radius:8px;text-align:center; width:1030px; height:430px;">
                                <canvas id="game" width="1000" height="400" style="background-color: #77B5FE; margin-top:15px; margin-right:15px;">
                                    <p lang="fr">Votre navigateur ne supporte pas la balise canvas.</p>
                                </canvas>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}    
    <div class="modal fade" id="myFullModal" tabindex="-1" role="dialog" aria-labelledby="myFullModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title label label-warning modalFS" id="myFullModalLabel">Panier plein</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    Désolé, vous ne pouvez pas ajouter plus de 6 activités à votre panier
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height:750px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 lessonCategoryTitle" >
                <h1><a style="color:grey; margin-bottom: 35px; margin-top:0px !important; background: none !important;" class="{{entity.category.color}}H" href="{{path('category_show', { id : entity.category.id })}}">{{entity.category.libelle}}</a></h1>
                <p class="disInBl buttonVerySmall lessonNumberIner {{entity.type}}">{{order}}</p> &nbsp &nbsp &nbsp &nbsp
                <h1 class="disInBl" style="bottom:0%">{{entity.libelle}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p style="margin-left: 0px!important" class="lessonText">{{entity.description | nl2br }}</p>
                {% if entity.type == "notion" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/notion.jpg')}}"/>
                    </div>
                {% endif %}
                {% if entity.type == "activités" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/activites.jpg')}}"/><br/><br/>
                        {% for competence in entity.competences %}
                            {% set bool = false %}
                            {% for divisionCompetence in selectedDivision.competences %}
                               {% if competence.libelle == divisionCompetence.libelle %}
                                   {% set bool = true %}
                               {% endif %}
                            {% endfor %}
                            {% if bool == true %}
                                <input type="checkbox" onclick="unValidateLesson({{entity.id}});" id="isValidated" checked> {{competence.libelle}}  <br/>
                            {% else %}
                                <input type="checkbox" onclick="validateLesson({{entity.id}});" id="isValidated"> {{competence.libelle}}  <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entity.type == "vocabulaire" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/vocabulaire.jpg')}}"/>
                    </div>
                {% endif %}
                <div class="buttonTableCont" style='margin-top:30px' role="tablist">
                    {% for activity in entity.activitys %}
                        {% if loop.index == 1 %}
                        <a class="buttonActivity  {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab">{{activity.type}}</a>
                        {% else %}
                            <a class="buttonActivity  {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab">{{activity.type}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-content activityContainer" style=" margin-top: -8px;">
                    {% for activity in entity.activitys %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane fade in active" id="{{loop.index}}">
                                <div class="row">
                                    <div class="col-md-4" style="padding:0px!important">
                                        <img style="float:left;" class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                    </div>  
                                    <div class="col-md-8" style=" margin:auto!important;  padding:0px!important">
                                        <p style="color:white;margin-top:35px;"><span style="font-size:20px;">{{activity.name}}</span><br/>{{activity.description}}</p>
                                        <div class="buttonTableCont">
                                            <a class="buttonActivity bleu" onclick="addToCart({{activity.id}});">Ajouter au panier</a>
                                            {% if activity.files.url == "js" %}
                                                <a class="buttonActivity bleu" data-toggle="modal" data-target="#myGameModal">Lancer l'activité</a>
                                            {% else %}
                                            <a class="buttonActivity bleu">Lancer l'activité</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="{{loop.index}}">
                                <div class="row">
                                    <div class="col-md-5" style="padding:0px!important">
                                        <img  class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                    </div>  
                                    <div class="col-md-1"></div>
                                    <div class="col-md-7" style=" padding:0px!important">
                                        <p style="margin-left:0px!important; margin-top:25px;color:white;">{{activity.name}}<br/>{{activity.description}}</p>
                                        <div class="buttonTableCont">
                                            <a class="buttonActivity bleu" onclick="addToCart({{activity.id}})">Ajouter au panier</a>
                                            <a class="buttonActivity bleu">Lancer l'activité</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
