{% extends "::base.html.twig" %}

{% block body -%}
    {{ parent() }}
    <div class="container" style="height:750px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 lessonCategoryTitle" >
                <h1><a style="color:grey; margin-bottom: 35px; margin-top:0px !important; background: none !important;" class="{{entity.category.color}}H" href="{{path('category_show', { id : entity.category.id })}}">{{entity.category.libelle}}</a></h1>
                <p class="disInBl buttonVerySmall lessonNumberIner {{entity.type}}">{{order}}</p> &nbsp &nbsp &nbsp &nbsp
                <h1 class="disInBl" style="bottom:0%">{{entity.libelle}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p style="margin-left: 0px!important" class="lessonText">{{entity.description | nl2br }}</p>
                {% if entity.type == "notion" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/notion.jpg')}}"/>
                    </div>
                {% endif %}
                {% if entity.type == "activités" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/activites.jpg')}}"/><br/><br/>
                        {% for competence in entity.competences %}
                            {% set bool = false %}
                            {% for divisionCompetence in selectedDivision.competences %}
                               {% if competence.libelle == divisionCompetence.libelle %}
                                   {% set bool = true %}
                               {% endif %}
                            {% endfor %}
                            {% if bool == true %}
                                <input type="checkbox" onclick="unValidateLesson({{entity.id}});" id="isValidated" checked> {{competence.libelle}}  <br/>
                            {% else %}
                                <input type="checkbox" onclick="validateLesson({{entity.id}});" id="isValidated"> {{competence.libelle}}  <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entity.type == "vocabulaire" %}
                    <div class="center" style='margin-top:30px'>
                        <img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/vocabulaire.jpg')}}"/>
                    </div>
                {% endif %}
                <div class="buttonTableCont" style='margin-top:30px' role="tablist">
                    {% for activity in entity.activitys %}
                        {% if loop.index == 1 %}
                        <a class="buttonActivity  {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab">{{activity.type}}</a>
                        {% else %}
                            <a class="buttonActivity  {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab">{{activity.type}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-content activityContainer" style=" margin-top: -8px;">
                    {% for activity in entity.activitys %}
                        {% if loop.index == 1 %}
                            <div class="tab-pane fade in active" id="{{loop.index}}">
                                <div class="row">
                                    <div class="col-md-4" style="padding:0px!important">
                                        <img style="float:left;" class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                    </div>  
                                    <div class="col-md-8" style=" margin:auto!important;  padding:0px!important">
                                        <p style="color:white;margin-top:35px;"><span style="font-size:20px;">{{activity.name}}</span><br/>{{activity.description}}</p>
                                        <div class="buttonTableCont">
                                            <a class="buttonActivity bleu" onclick="addToCart({{activity.id}});">Ajouter au panier</a>
                                            <a class="buttonActivity bleu">Lancer l'activité</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="{{loop.index}}">
                                <div class="row">
                                    <div class="col-md-5" style="padding:0px!important">
                                        <img  class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                    </div>  
                                    <div class="col-md-1"></div>
                                    <div class="col-md-7" style=" padding:0px!important">
                                        <p style="margin-left:0px!important; margin-top:25px;color:white;">{{activity.name}}<br/>{{activity.description}}</p>
                                        <div class="buttonTableCont">
                                            <a class="buttonActivity bleu" onclick="addToCart({{activity.id}})">Ajouter au panier</a>
                                            <a class="buttonActivity bleu">Lancer l'activité</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
