{% extends "::base.html.twig" %}

{% block body -%}
    {{ parent() }}
    {% form_theme delete_form 'EltonCoreBundle:Form:delete_field.html.twig' %}
    <div>
        <a class="btn btnBeigeEltonGrand shadow bold" href="{{path('lesson')}}">Retour à la liste des activités</a>
        <br/><br/>
    </div>
    <div>
        <div  style="margin: 0px 0px 25px 0px;">
            <h1 class="label label-warning bold">&nbsp  Activité</h1>
        </div>

        <table class="breadcrumb">
            <tbody>
                <tr>
                    <th class="txtOrangeElton">Nom de l'activité</th>
                    <td>{{ entity.libelle }}</td>
                </tr>     
                <tr>
                    <th class="txtOrangeElton">Niveau de l'activité</th>
                    <td>{{ entity.level.libelle }}</td>
                </tr>                
                <tr>
                    <th class="txtOrangeElton">Catégorie de l'activité</th>
                    <td>{{ entity.category.libelle }}</td>
                </tr>
                <tr>
                    <th class="txtOrangeElton">Nom des fichiers</th>
                    {% for file in entity.files %}
                        <td>{{ file.alt }}<br/></td>
                    {% endfor %}
                </tr>                    
                <tr>
                    <th class="txtOrangeElton">Nom des compétances</th>
                    {% for competance in entity.competances %}
                        <td>{{ competance.libelle }}<br/></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="txtOrangeElton">Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>
                        <br/>
                        <a class="btn shadow center-block bold btnBeigeEltonPetit" data-toggle="modal" data-target="#myLessonUpdateModal">Modifier</a>
                        {# Lesson edit modal #}
                        <div class="modal fade" id="myLessonUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myLessonUpdateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                        <h4 class="modal-title label label-warning modalFS" id="myLessonUpdateModalLabel">Modification de professeur</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{render(controller('EltonLessonBundle:Lesson:edit', {'id' : entity.id})) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <td>
                        <br/>
                        {{ form(delete_form) }}
                    </td>
                </tr>
                <tr>
                    <div class="smallElton"></div>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
