{% extends "::base.html.twig" %}

{% block body -%}
    {{ parent() }}
    <div class="modal fade" id="myUnactiveModal" tabindex="-1" role="dialog" aria-labelledby="myUnactiveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title label label-warning modalFS" id="myUnactiveModalLabel">En construction !</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    Cette activité sera accessible prochainement
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {% for activity in entity.activitys %}
        {% if activity.files.url == "mp3" %}
            <div class="modal fade" id="myAudioModal" tabindex="-1" role="dialog" aria-labelledby="myAudioModalLabel" aria-hidden="true" >
                <div class="modal-dialog" style='margin-top:200px;'>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myAudioModalLabel">Audio</h4>
                        </div>
                        <div class="modal-body" style="text-align:center; width:95%;">
                            <audio id="audioIframe" controls>
                                {% if activity.files.ogg %}
                                    <source src="{{ asset(activity.files.ogg.uploadDir ~ '/' ~activity.files.ogg.id ~ '.' ~ activity.files.ogg.url)}}" type="audio/ogg">
                                {% endif %}
                                <source src="{{ asset(activity.files.uploadDir ~ '/' ~activity.files.id ~ '.' ~ activity.files.url)}}" type="audio/mpeg">
                              Votre navigateur ne supporte pas les éléments audios, veuillez le mettre à jour.
                            </audio>
                            <script src="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}"></script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif activity.files.url == "jpg" or activity.files.url == "jpeg" or activity.files.url == "png" %}
            <div class="modal fade" id="myPictureModal" tabindex="-1" role="dialog" aria-labelledby="myPictureModalLabel" aria-hidden="true" style="height:100%;">
                <div class="modal-dialog"  style='width:85%;'>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myPictureModalLabel">Image</h4>
                        </div>
                        <div class="modal-body" style="text-align:center; width:100%; height:0%;">
                            <img style="width:auto; height: 70%;" src="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" alt="{{activity.files.alt}}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif activity.files.url == "js" %}
            <div class="modal fade" id="myGameModal" tabindex="-1" role="dialog" aria-labelledby="myGameModalLabel" aria-hidden="true" >
                <div class="modal-dialog" style="width: 95%; height:650px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myGameModalLabel">Jeu</h4>
                        </div>
                        <div id="gameIframe" class="modal-body" style="text-align:center; width:100%;">
                            <div  style="border:1px solid black;z-index:1;-moz-border-radius:8px;border-radius:8px;text-align:center;">
                                <canvas width="750" height="450" id="game" style="background-color: #77B5FE; margin-top:15px; margin-bottom: 15px; margin-right:15px;">
                                    <p lang="fr">Votre navigateur ne supporte pas la balise canvas.</p>
                                </canvas>
                            </div>
                            <script src="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}"></script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif activity.files.url == "mp4" %}
            <div class="modal fade" id="myVimeoModal" tabindex="-1" role="dialog" aria-labelledby="myVimeoModalLabel" aria-hidden="true" >
                <div class="modal-dialog" style="width:57%; height:57%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myVimeoModalLabel">Vidéo</h4>
                        </div>
                        <div class="modal-body" style="text-align:center; width:100%; height:100%;">
                            {% set videoName = activity.files.alt|slice(0, activity.files.alt|length-4) %}
                            <iframe id="vimeoIframe" style="width:100%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif activity.files.url == "pdf" %}
            <div class="modal fade" id="myPdfModal" tabindex="-1" role="dialog" aria-labelledby="myPdfModalLabel" aria-hidden="true" >
                <div class="modal-dialog" style="width: 90%; height:75%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title label label-warning modalFS" id="myPdfModalLabel">{{activity.files.alt|slice(0, activity.files.alt|length-4)}}</h4>
                        </div>
                        <div class="modal-body" style="width:100%; height:1%; text-align: center;">
                            <iframe style="width: 95%; height: 90%;" src='{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}'  align="middle"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}    
    <div class="modal fade" id="myFullModal" tabindex="-1" role="dialog" aria-labelledby="myFullModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title label label-warning modalFS" id="myFullModalLabel">Panier plein</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    Désolé, vous ne pouvez pas ajouter plus de 6 activités à votre panier
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {% if entity.file.url == "pdf" %}
        <div class="modal fade" id="myPdfDocModal" tabindex="-1" role="dialog" aria-labelledby="myPdfDocModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width: 90%; height:75%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title label label-warning modalFS" id="myPdfDocModalLabel">{{entity.file.alt|slice(0, entity.file.alt|length-4)}}</h4>
                    </div>
                    <div class="modal-body" style="width:100%; height:1%; text-align: center;">
                        <iframe style="width: 95%; height: 90%;" src='{{ asset(entity.file.uploadDir ~ '/' ~ entity.file.id ~ '.' ~ entity.file.url) }}'  align="middle"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container" style="height:750px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 lessonCategoryTitle" >
                <h1><a style="color:grey; margin-bottom: 35px; margin-top:0px !important; background: none !important;" class="{{entity.category.color}}H" href="{{path('category_show', { id : entity.category.id })}}">{{entity.category.libelle}}</a></h1>
                <p class="disInBl buttonVerySmall lessonNumberIner {{entity.type}}">{{order}}</p> &nbsp &nbsp &nbsp &nbsp
                <h1 class="disInBl" style="bottom:0%">{{entity.libelle}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p style="margin-left: 0px!important" class="lessonText">{{entity.description | nl2br }}</p>
                {% if entity.category.libelle == "Culture" %}
                    <div class="center" style='margin-top:30px;height: 250px;'>
                        {% if entity.file.url == "pdf" %}
                            <a data-toggle="modal" data-target="#myPdfDocModal"><img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/culture.jpg')}}"/></a>
                        {% elseif entity.file.url == "mp4" %}
                            {% set videoName = entity.file.alt|slice(0, entity.file.alt|length-4) %}
                            <iframe id="vimeoBiIframe" style="width:80%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% elseif entity.category.libelle == "Event" %}
                    <div class="center" style='margin-top:30px;height: 250px;'>
                        {% if entity.file.url == "pdf" %}
                            <a data-toggle="modal" data-target="#myPdfDocModal"><img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/event.jpg')}}"/></a>
                        {% elseif entity.file.url == "mp4" %}
                            {% set videoName = entity.file.alt|slice(0, entity.file.alt|length-4) %}
                            <iframe id="vimeoBiIframe" style="width:80%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% elseif entity.type == "notion" %}
                    <div class="center" style='margin-top:30px;height: 250px;'>
                        {% if entity.file.url == "pdf" %}
                            <a data-toggle="modal" data-target="#myPdfDocModal"><img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/notion.jpg')}}"/></a>
                        {% elseif entity.file.url == "mp4" %}
                            {% set videoName = entity.file.alt|slice(0, entity.file.alt|length-4) %}
                            <iframe id="vimeoBiIframe" style="width:80%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% elseif entity.type == "activités" %}
                    <div class="center" style='margin-top:30px;height: 250px;'>
                        {% if entity.file.url == "pdf" %}
                            <a data-toggle="modal" data-target="#myPdfDocModal"><img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/activité.jpg')}}"/></a>
                        {% elseif entity.file.url == "mp4" %}
                            {% set videoName = entity.file.alt|slice(0, entity.file.alt|length-4) %}
                            <iframe id="vimeoBiIframe" style="width:80%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                        {% for competence in entity.competences %}
                            {% set bool = false %}
                            {% for divisionCompetence in selectedDivision.competences %}
                               {% if competence.libelle == divisionCompetence.libelle %}
                                   {% set bool = true %}
                               {% endif %}
                            {% endfor %}
                            {% if bool == true %}
                                <input type="checkbox" onclick="unValidateLesson({{entity.id}});" id="isValidated" checked> {{competence.libelle}}  <br/>
                            {% else %}
                                <input type="checkbox" onclick="validateLesson({{entity.id}});" id="isValidated"> {{competence.libelle}}  <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% elseif entity.type == "vocabulaire" %}
                    <div class="center" style='margin-top:30px;height: 250px;'>
                        {% if entity.file.url == "pdf" %}
                            <a data-toggle="modal" data-target="#myPdfDocModal"><img class="resizePdfButton" src="{{asset('bundles/eltoncore/images/vocabulaire.jpg')}}"/></a>
                        {% elseif entity.file.url == "mp4" %}
                            {% set videoName = entity.file.alt|slice(0, entity.file.alt|length-4) %}
                            <iframe id="vimeoBiIframe" style="width:80%; height: 100%;" src="//player.vimeo.com/video/{{videoName}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% endif %}
                {% set bool = false %}
                {% for activity in entity.activitys %}
                    {% if activity.active == 1 %}
                        {% set bool = true %}
                    {% endif %}
                {% endfor %}
                {% if entity.activitys.count() > 0 %}
                    <div class="buttonTableCont" style='margin-top:30px' role="navigation">
                        {% for activity in entity.activitys %}
                            {% if activity.active == 1 %}
                                {% if loop.index == 1 %}                                
                                    <a class="buttonActivity active {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab"><img style="width:auto; height: 30px;" src="{{asset('bundles/eltoncore/images/' ~ activity.type ~ '.png')}}"></a>
                                {% endif %}
                                <a class="buttonActivity  {{activity.type}} " href="#{{loop.index}}" role="tab" data-toggle="tab"><img style="width:auto; height: 30px;" src="{{asset('bundles/eltoncore/images/' ~ activity.type ~ '.png')}}"></a>
                            {% else %}
                                <a class="buttonActivity  {{activity.type}} "  style="opacity: 0.5;" role="tab" data-toggle="modal" data-target="#myUnactiveModal"><img style="width:auto; height: 30px;" src="{{asset('bundles/eltoncore/images/' ~ activity.type ~ '.png')}}"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if bool == true %}
                        <div class="tab-content activityContainer" style=" margin-top: -8px;">
                            {% for activity in entity.activitys %}
                                {% if activity.active == 1 %}
                                    {% if loop.index == 1 %}
                                        <div class="tab-pane fade in active" id="{{loop.index}}">
                                            <div class="row">
                                                <div class="col-md-4" style="padding:0px!important">
                                                    <img style="float:left;" class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                                </div>  
                                                <div class="col-md-8" style=" margin:auto!important;  padding:0px!important">
                                                    <p style="color:white;margin-top:35px;"><span style="font-size:20px;">{{activity.name}}</span><br/>{{activity.description}}</p>
                                                    <div class="buttonTableCont">
                                                        <a class="buttonActivityMod noir" onclick="addToCart({{activity.id}});">Ajouter au panier</a>
                                                        {% if activity.files.url == "js" %}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myGameModal">Lancer l'activité</a>
                                                        {% elseif activity.files.url == "mp3"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myAudioModal">Lancer l'activité</a>
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% elseif activity.files.url == "mp4"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myVimeoModal">Lancer l'activité</a>
                                                        {% elseif activity.files.url == "jpg" or activity.files.url == "jpeg" or activity.files.url == "png"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myPictureModal">Lancer l'activité</a>
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% elseif activity.files.url == "pdf" %}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myPdfModal">Lancer l'activité</a>                                                            
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% else %}
                                                        <a class="buttonActivityMod noir">Lancer l'activité</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="tab-pane fade" id="{{loop.index}}">
                                            <div class="row">
                                                <div class="col-md-4" style="padding:0px!important">
                                                    <img style="float:left;" class="resizeActivity" src="{{ asset(activity.file.uploadDir ~ '/' ~ activity.file.id ~ '.' ~ activity.file.url) }}" alt="{{activity.file.alt}}"/>
                                                </div>  
                                                <div class="col-md-8" style=" margin:auto!important;  padding:0px!important">
                                                    <p style="color:white;margin-top:35px;"><span style="font-size:20px;">{{activity.name}}</span><br/>{{activity.description}}</p>
                                                    <div class="buttonTableCont">
                                                        <a class="buttonActivityMod noir" onclick="addToCart({{activity.id}});">Ajouter au panier</a>
                                                        {% if activity.files.url == "js" %}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myGameModal">Lancer l'activité</a>
                                                        {% elseif activity.files.url == "mp3"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myAudioModal">Lancer l'activité</a>
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% elseif activity.files.url == "mp4"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myVimeoModal">Lancer l'activité</a>
                                                        {% elseif activity.files.url == "jpg" or activity.files.url == "jpeg" or activity.files.url == "png"%}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myPictureModal">Lancer l'activité</a>
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% elseif activity.files.url == "pdf" %}
                                                            <a class="buttonActivityMod noir" data-toggle="modal" data-target="#myPdfModal">Lancer l'activité</a>                                                            
                                                            <a class="buttonActivityMod noir" href="{{ asset(activity.files.uploadDir ~ '/' ~ activity.files.id ~ '.' ~ activity.files.url) }}" download="{{activity.files.id ~ '.' ~ activity.files.url}}">Télécharger l'activité</a>
                                                        {% else %}
                                                        <a class="buttonActivityMod noir">Lancer l'activité</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
