{#Bienvenue sur My Elton, {{user.civilite}} {{user.name}} !

Merci de faire confiance à My Elton pour vos cours d’anglais ! Vous avez choisi : {{offer}}
Vous bénéficiez d’un accès complet au site jusqu’au {{offer}}

Pour vous familiariser avec le site et ne rien manquer des fonctionnalités proposées, n’hésitez pas à regarder nos tutoriels vidéos en vous rendant <a href="{{path("category_show", {id : 6})}}">ici</a>. Vous les trouverez également par le biais du lien <a href="{{path('accueil')}}">« Découvrir My Elton »</a> disponible sur la page d’accueil de votre espace personnel.
Pour rappel, votre nom d’utilisateur est : {{user.username}}

Toute l’équipe vous remercie pour l’intérêt montré pour My Elton !

A bientôt sur My Elton !#}