<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyElton{% endblock %}</title>
        {% stylesheets filter='lessphp,?cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less' 
                'bundles/eltoncore/less/*'  %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/eltoncore/images/apple-touch-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/eltoncore/images//apple-touch-icon-152x152.png')}}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/eltoncore/images//favicon-196x196.png" sizes="196x196')}}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/eltoncore/images//favicon-160x160.png" sizes="160x160')}}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/eltoncore/images//favicon-96x96.png" sizes="96x96')}}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/eltoncore/images//favicon-16x16.png" sizes="16x16')}}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/eltoncore/images//favicon-32x32.png" sizes="32x32')}}">
        <meta name="msapplication-TileColor" content="#fc923f">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        
            <script src="{{ asset('bundles/eltoncore/js/quintus.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_sprites.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_scenes.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_input.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_anim.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_2d.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_touch.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_ui.js')}}"></script>
            <script src="{{ asset('bundles/eltoncore/js/quintus_audio.js')}}"></script>
        {% block googleAnalytics %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-50453065-1', 'myelton.fr');
              ga('send', 'pageview');

            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if is_granted('ROLE_TEACHER') %}
                {% include('::headerTeacher.html.twig') %}
            {% elseif is_granted('ROLE_USER') %}
                {% include('::headerDivision.html.twig') %}
            {% else %}
                {% include('::header.html.twig') %}
            {% endif %}
            <div class="wrap">
        {% endblock %}
            </div>
        {% include('::footer.html.twig') %}
        {% block javascripts %}
            <script src="{{ asset('bundles/eltoncore/js/jquery.min.js') }}"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/eltoncore/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/eltoncore/js/main.js') }}"></script>
            <script src="{{ asset('bundles/eltoncore/js/ajax.js') }}"></script>
        {% endblock %}
    </body>
</html>
