<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Elton, pour vous servir !{% endblock %}</title>
        {% stylesheets filter='lessphp,?cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less' 
                'bundles/eltoncore/less/*'  %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
        {% block googleAnalytics %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-50453065-1', 'myelton.fr');
              ga('send', 'pageview');

            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header class="">
                {# Buttons modals #}
                <div class="modal fade" id="myRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myRegisterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title label label-warning modalFS" id="myRegisterModalLabel">Connection</h4>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('FOSUserBundle:Registration:register')) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title label label-warning modalFS" id="myLoginModalLabel">Connection</h4>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('FOSUserBundle:Security:Login')) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <div class="playbac">
                        <a href="http://www.playbacpresse.fr/">
                        <img src="{{asset('bundles/eltoncore/images/logoplaybac.png')}}"/>
                        </a>
                    </div>
                    <div class="elton">
                        <a href="{{path('index')}}">
                        <img class="resizeHeaderElton" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
                        <img class="resizeHeaderLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
                        </a>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-danger width150 shadow" data-toggle="modal" data-target="#myLoginModal">Connection</a> <br/><br/>                        
                        <a class="btn btn-warning width150 shadow" data-toggle="modal" data-target="#myRegisterModal">Inscription</a>
                    </div>
                    <div class="title">
                        <center>
                            <h3>La méthode d'anglais pensée pour les professeurs des Ecoles !</h3>
                        </center>
                    </div>
                </div>
            </header>
            <nav>
                <ul class="nav nav-pills menuBar " role="navigation">
                    <li style="margin-left:350px" class="divider-vertical"></li>
                    <li class="active"><a class='myEltonButtonMenu text-center' href="#home" data-toggle="tab">Accueil</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class='myEltonButtonMenu text-center' href="#knowMore" data-toggle="tab">En savoir plus</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class='myEltonButtonMenu text-center' href="#theySay" data-toggle="tab">Ce qu'ils en disent</a></li>
                    <li class="divider-vertical"></li>
                </ul>
            </nav>
            
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">Lalalala</div>
                    <div class="tab-pane fade" id="knowMore">Lulululu</div>
                    <div class="tab-pane fade" id="theySay">Lililili</div>
                </div>
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('bundles/eltoncore/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/eltoncore/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
