<div class="clear" style="clear:both"></div>
<footer class="footer">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="leftFooter">
                    <a href="{{path('sitemap')}}">Plan du site</a><br>
                    <a href="http://www.playbac.fr/">playbac.fr</a><br>
                    <a href="{{path('cgu')}}">CGU</a>
                </div>
            </div>
                <div class="col-md-2"></div>
            <div class="col-md-4 centeredFooter" style="text-align:center">
                <p>Pour suivre l'actualité de My Elton :</p>
                <a href="https://plus.google.com/113317395844460135000/posts"><img src="{{asset('bundles/eltoncore/images/g+.png')}}" class="resizeRes" alt="Google+"></a>&nbsp;
                <a href="http://twitter.com/my_elton/"><img src="{{asset('bundles/eltoncore/images/tw.png')}}" class="resizeRes" alt="Twitter"></a>
            </div>
            <div class="col-md-2"> </div>
            <div class="col-md-2">
                <div class="rightFooter">
                    Nous contacter:<br>
                    <img class="resizePlume" src="{{asset('bundles/eltoncore/images/plume.png')}}" alt="Plume">&nbsp;<a href="mailto:elton@playbac.fr">elton@playbac.fr</a><br>
                    © 2014
                    </div>
            </div>
        </div>
    </div>
</footer>