{# Buttons modals #}
<div class="modal fade" id="myRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title label label-warning modalFS" id="myRegisterModalLabel">Connection</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FOSUserBundle:Registration:register')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title label label-warning modalFS" id="myLoginModalLabel">Connection</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FOSUserBundle:Security:Login')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{# end Buttons modals #}
<header>
    <a class="playbac hidden-xs" href="http://www.playbacpresse.fr/">
        <img src="{{asset('bundles/eltoncore/images/logoplaybac.png')}}"/>
    </a>
    <div style="text-align:center">
	<a href="{{path('index')}}">
            <img class="resizeHeaderElton hidden-xs" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
            <img class="resizeHeaderLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
	</a>
    </div>
    <div class="cons">
            <a data-toggle="modal" data-target="#myLoginModal">Login</a>
            <a data-toggle="modal" data-target="#myRegisterModal">Register</a>
    </div>
    <div style="text-align:center">
        <h1 style="margin-bottom:20px">La méthode d'anglais pensée pour les professeurs des Écoles !</h1>
    </div>
</header>
<nav>
    <div class="centered-pills menuBar" role="navigation">
        <ul class="nav nav-pills">
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('savoir_plus')}}"><span class="nowrap">En savoir</span> plus</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('a_propos')}}">À propos</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('faq')}}">F.A.Q</a>
            </li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
</nav>