<header class="">
    <div class="headerTeacher">
        <div class="elton">
            <a href="{{path('index')}}">
            <img class="resizeHeaderElton" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
            <img class="resizeHeaderLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
            </a>
        </div>
        <div class="buttonsCO">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn-elton blue" href="{{path('back_office')}}"><span>Admin - {{ user.username }}</span></a> <br/><br/>   
                <p>{{user.name}}  {{user.firstname}}</p>
                <a class="btn-elton orange" class="btn btn-warning width150" href="{{path('fos_user_security_logout')}}"><span>Déconnection</span></a>
            {% elseif is_granted('ROLE_USER') %}
                <a class="btn-elton blue" href="{{path('fos_user_profile_show')}}"><span>{{ user.username }}</span></a>   
                <p>{{user.name}}  {{user.firstname}}</p><br/>                    
                <a class="btn-elton orange" class="deconnexion" href="{{path('fos_user_security_logout')}}"><span>Déconnection</span></a>
            {% endif %}
        </div>
        <div class="dropdown btn btn-division">
            <a class="white" href="#" data-toggle="dropdown" id="dropDownDivision">
                CMDeJacky
                <span class="eltonCaret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropDownDivision" role="menu">
                <li>CEDeJacky</li>
                <li>CPDeJacky</li>
            </ul>
        </div>
    </div>
</header>
{# Menu teacher #}
<nav>
    <ul class="nav nav-pills menuBar" style="margin-top:30px;" role="navigation">
        <li style="margin-left:350px" class="divider-vertical"></li>
        <li class="active">
            <a class='myEltonButtonMenu text-center' href="#pratiquer" data-toggle="tab">Pratiquer !</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <a class='myEltonButtonMenu text-center' href="#acquis" data-toggle="tab">Acquis</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <a class='myEltonButtonMenu text-center' href="#monPanier" data-toggle="tab">Mon panier</a>
        </li>
        <li class="divider-vertical"></li>
    </ul>
</nav>
{# Menu teacher contend #}
<div class="tab-content">
    <div class="tab-pane fade in active" id="pratiquer">Lalalalax</div>
    <div class="tab-pane fade" id="acquis">Lulululu</div>
    <div class="tab-pane fade" id="monPanier">Lililili</div>
</div>