<header>
    <div>
        <div>
            <a href="{{path('index')}}">
            <img class="resizeHeaderTeacherElton" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
            <img class="resizeHeaderTeacherLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
            </a>
        </div>
        <div class="buttons">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('fos_user_profile_show')}}">{{user.firstName}} {{user.name | upper}} </a>
                <a href="{{path('sonata_admin_dashboard')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/admin.jpg')}}"/>
                </a>
                <a href="{{path('teacher_options')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/edit.png')}}"/>
                </a>
                <a href="{{path('fos_user_security_logout')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/logout.png')}}"/>
                </a>
            {% elseif is_granted('ROLE_USER') %}
                <a href="{{path('fos_user_profile_show')}}">{{user.firstName}} {{user.name | upper}} </a>
                <a href="{{path('teacher_options')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/edit.png')}}"/>
                </a>
                <a href="{{path('fos_user_security_logout')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/logout.png')}}"/><br/>
                </a>
            {% endif %}
        </div>
        <div class="dropdown btn orangeDeg center-block">
            <a class="white" href="#" data-toggle="dropdown" id="dropDownDivision">
                {{selectedDivision.libelle}}
                <span></span>
            </a>
            <ul class="dropdown-menu btn-divisionUl" aria-labelledby="dropDownDivision" role="menu">
                {% for division in othersDivisions %}
                    <a href="{{path('division_change', {'id' : division.id} ) }}">{{division.libelle}}</a>
                    <li class="divider"></li>
                {% endfor %}
                <a href="{{path('teacher_create_division')}}">Nouvelle classe</a>
            </ul>
        </div>
    </div>
</header>
{# Menu teacher #}
<nav>
    <div class="centered-pills menuBarTeacher" role="navigation">
        <ul class="nav nav-pills">
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('practice')}}">Pratiquer</a>    
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('index')}}">Culture</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('index')}}">Acquis</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('index')}}">Mon Panier</a>
            </li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
</nav>