{# Buttons modals #}
<div class="modal fade" id="myRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title label label-warning modalFS" id="myRegisterModalLabel">Connection</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FOSUserBundle:Registration:register')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title label label-warning modalFS" id="myLoginModalLabel">Connection</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('FOSUserBundle:Security:Login')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn center-block shadow btnBeigeElton bold" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{# end Buttons modals #}
		<header>
			<a class="playbac hidden-xs" href="http://www.playbacpresse.fr/">
				<img src="{{asset('bundles/eltoncore/images/logoplaybac.png')}}"/>
            </a>
            <center>
				<a href="http://www.myelton.fr/">
					<img class="resizeHeaderElton hidden-xs" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
					<img class="resizeHeaderLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
				</a>
				
              <a data-toggle="modal" data-target="#myLoginModal">Login</a>
              <a data-toggle="modal" data-target="#myRegisterModal">Register</a>
            </center>
            <center>
                <h3 style="margin-bottom:20px">La méthode d'anglais pensée pour les professeurs des Écoles !</h3>
            </center>
        </header>
        <nav>
			<div class="centered-pills menuBar">
				<ul class="nav nav-pills" role="navigation">
					<li class="divider-vertical"></li>
					<li>
						<a class='myEltonButtonMenu text-center' href="#home" data-toggle="tab"><span class="nowrap">En savoir</span> plus</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a class='myEltonButtonMenu text-center' href="#knowMore" data-toggle="tab">À propos</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a class='myEltonButtonMenu text-center' href="#theySay" data-toggle="tab">F.A.Q</a>
					</li>
					<li class="divider-vertical"></li>
				</ul>
			</div>
        </nav>
		<div class="tab-content">
				<div class="tab-pane fade in active" id="default">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/turquoise.jpg')}}"/> &nbsp; Qu’est-ce que My Elton ?</h2>
								
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> une méthode complète d’apprentissage de l’anglais du CP au CM2 </h4>
									<p>Pratiquer l’anglais en reprenant toutes les bases chaque année. Les élèves de la classe commencent tous au même point : il est alors plus simple de gérer le niveau des élèves venant de classes différentes</p>
								
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> une méthode pensée pour les professeurs des Écoles </h4>
									<p>Les cours et activités sont donnés clé en main. Vous êtes mis dans les meilleures conditions pour vous approprier rapidement le déroulement de la séance ainsi que les notions abordées</p>
								
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> une méthode ludique</h4>
									<p>La priorité de My Elton est le plaisir de la pratique de l’anglais. Pour cela, de nombreuses activités accompagnent chaque notion de cours abordée. Un plaisir continu pour un apprentissage en toute simplicité !</p>
							
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4>une méthode en ligne</h4>
									<p>Connectez-vous à votre espace abonné pour retrouver la méthode complète My Elton sur myelton.fr. Accessible de partout et directement utilisable en classe, ce format permet également de proposer simplement un accès pour les élèves en vous donnant le contrôle des activités accessibles</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-1"></div>
								<div class="col-md-11">
									<h2 class="sectionH2 screenML10"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/bleuclair.jpg')}}"/> &nbsp; Les objectifs de My Elton</h2>
								
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4 class="screenML10">commencer l’apprentissage de l’anglais au plus jeune âge</h4>
									<p class="screenML15">C’est à l’enfance que les capacités linguistiques sont les plus développées, et qu’il est le plus facile de s’imprégner des sons entendus</p>
								
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4 class="screenML10"> donner aux enseignants une vue claire et centralisée du programme d’anglais</h4>
									<p class="screenML15">Les cours de My Elton sont pensés à partir du programme officiel proposé par l’Éducation nationale. La progression est simplifiée et transparente pour le professeur</p>
							
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4 class="screenML10"> permettre à tout professeur, quelque soit son niveau d’anglais, d’enseigner efficacement la langue</h4>
									<p class="screenML15">My Elton vous accompagne et vous propose tous les outils nécessaires pour transmettre efficacement les notions d’anglais abordées : pas besoin d’être bilingue !</p>
							
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4 class="screenML10"> remettre l’école et le professeur au centre du processus d’apprentissage de l’anglais chez les enfants</h4>
									<p class="screenML15">Aujourd’hui, la qualité des produits d’enseignement de l’anglais disponibles dans le cadre privé créé un écart entre les familles pouvant y accéder ou non. En proposant des outils éducatifs de qualité à l’École, My Elton permet à tous les enfants de partir avec de bonnes bases et le plaisir de pratiquer l’anglais !</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="tab-pane fade" id="home">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/violet.jpg')}}"/> Le programme complet du CP au CM2 </h2>
								
									<h4 class="screenMl20" style="color:grey">- découverte de la notion</h4>
									<h4 class="screenMl20" style="color:grey">- chaque notion est évaluable en fin de séquence</h4>
									<h4 class="screenMl20" style="color:grey">- progression par trimestre et par niveau</h4>
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="col-md-6">
								<div class="col-md-1"></div>
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="images/noir	.jpg"/> Des activités ludiques clé en main </h2>
								
									<h4 class="screenMl20" style="color:grey">- mise en avant de la pratique orale</h4>
									<h4 class="screenMl20" style="color:grey">- manipulation de mots et d’images</h4>
									<h4 class="screenMl20" style="color:grey">- réinvestissement des connaissances</h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan"src="images/gris.jpg"/> 3 types d’activités proposés par notion </h2>
								
									<h4 class="screenMl20" style="color:grey">- une mise en situation pratique </h4>
									<h4 class="screenMl20" style="color:grey">- des jeux basés sur des fichiers audio ou image</h4>
									<h4 class="screenMl20" style="color:grey">- des vidéos et des jeux interactifs en ligne</h4>	
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="col-md-6">
								<div class="col-md-1"></div>
								<div class="col-md-11">
									<h2 class="sectionH2" style="text-align:initial"><img class="resizeSpan"  src="images/turquoise.jpg"/> Vos ressources accessibles partout </h2>
								
									<h4 class="screenMl20" style="color:grey">- un site web pour ne plus transporter de cahier à photocopier </h4>
									<h4 class="screenMl20" style="color:grey">- ressources imprimables et téléchargeables </h4>
									<h4 class="screenMl20" style="color:grey">- les mises en situation pratique ne nécessitent pas de support</h4>	
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan"  src="images/bleu.jpg"/> Qui est Elton ? </h2>
								
									<h4 class="screenMl20" style="color:grey">- un personnage original et attachant</h4>
									<h4 class="screenMl20" style="color:grey">- il assiste l’enseignant en étant le sujet d’activités</h4>	
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="col-md-6">
								<div class="col-md-1"></div>
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="images/bleuclair.jpg"/> Une méthode approuvée </h2>
								
									<h4 class="screenMl20" style="color:grey">- pas de cours magistral : place à la pratique !</h4>
									<h4 class="screenMl20" style="color:grey">- des activités facultatives selon la progression de votre classe</h4>
									<h4 class="screenMl20" style="color:grey">- la méthode peut être prise n’importe quand : les bases sont revues chaque année</h4>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="tab-pane fade" id="knowMore">
					<div class="container">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/violet.jpg')}}"/> &nbsp; Play Bac Presse</h2>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> la mission de Play Bac : changer l’éducation de nos enfants </h4>
									<p>Depuis sa création en 1985, la mission de Play Bac est de « changer l’éducation de nos enfants ». La création des Incollables en 1989 puis de Mon Quotidien en 1995, vont dans ce sens : Mon Quotidien est le seul journal d’information destiné aux enfants d’Europe </p>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> une expertise reconnue dans le domaine éducatif </h4>
									<p>Les journaux proposés par Play Bac Presse sont adaptés aux écoliers et recommandés par les professeurs. L’expérience et la créativité de Play Bac en font, aujourd’hui, un acteur reconnu de la production de contenu éducatif pour les enfants </p>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> l’expérience des apprentissages ludiques </h4>
									<p>Les Incollables, la collection des « Une minute par jour… », ou encore les calendriers 360 symbolisent l’approche pédagogique choisie par Play Bac : originale et ludique, pour apprendre en s’amusant ! </p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div class="col-md-11">
									<h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/noir.jpg')}}"/> &nbsp; Dominique Esnault</h2>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> un parcours international </h4>
									<p>Née et élevée en France, Mme Esnault a été amenée à vivre, étudier et travailler en Angleterre (4 ans), au Canada (2 ans) et aux Etats-Unis (24 ans), où elle réside encore aujourd’hui. Elle a passé plus de la moitié de sa vie dans des pays anglophones et maitrise donc parfaitement la langue anglaise qu’elle pratique tous les jours ainsi que les différences entre l’anglais britannique, canadien et américain</p>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4> la passion de l’éducation </h4>
									<p>C’est en décidant de la scolarité de ses enfants, et particulièrement en gérant auprès d’eux l’apprentissage de plusieurs langues en parallèle, que Mme Esnault se plonge dans l’éducation et les outils éducatifs. Cela devient vite pour elle une véritable passion, et elle décide ensuite de reprendre les études pour en faire son métier</p>
									
									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4>un professeur de langues</h4>
									<p>Commençant par donner des cours de soutien scolaire et des particuliers de français aux Etats-Unis puis d’anglais en France, elle enseigne l’anglais dans une école primaire près de Paris pendant 3 années, avant de retourner aux Etats-Unis poursuivre ses études.  Mme Esnault est maintenant professeur de français et d’anglais au Texas. Ces expériences lui permettent de bien connaître le déroulement d’un cours de langue avec de jeunes élèves ainsi que le système éducatif français</p>

									<img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}"/>
									<h4>une méthode d’apprentissage des langues sur mesure</h4>
									<p>Les enfants ont une mémoire visuelle très développée pour leur permettre de comprendre le monde autour d’eux. Ils sont aussi très attachés à des routines. Partant de ces principes, et au fil des années, Mme Esnault a développé sa propre méthode d’apprentissage de l’anglais. Une méthode sur mesure pour que les enfants pratiquent une deuxième langue sans perturber le développement de leur langue maternelle. Cette méthode met en avant la pratique orale de la langue en proposant une approche ludique. Très rapidement et sans difficulté, les élèves commencent à faire leurs propres phrases en anglais. C’est la méthode que Play Bac Presse a choisi de retenir pour vous proposer My Elton !</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="tab-pane fade" id="theySay">
					<div class="container" id="accordion">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-7">
									<h2 class="sectionH2bis" style="margin-top:60px">
										<img class="resizeSpan spanFAQ" style="padding-right: 25px; float:left; margin-bottom:20px; margin-top:-8px;" src="{{asset('bundles/eltoncore/images/gris.jpg')}}"/>
										<a data-toggle="collapse" data-parent="#accordion" style="padding-right:10px; color:black;" href="#collapseOne">Je n’ai pas d’outils numérique en classe : puis-je tout de même utiliser My Elton ?</a>
									</h2>
									<p id="collapseOne" class="panel-collapse screenMl20 collapse"><b>Oui ! </b>La méthode My Elton s’adapte aux support de cours dont vous disposez : tablettes numériques, TBI, vidéo-projecteur, ordinateur, tableau ou même… les mains ! My Elton propose en effet pour chaque notion de cours et chaque activité 3 types de ressources, qui permettent d’embrasser l’ensemble des possibilités d’animation de cours. Il y a donc toujours des activités à faire sans aucun matériel numérique et sans écran </p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-7">
									<h2 class="sectionH2bis">
										<img class="resizeSpan spanFAQ" style="padding-right: 25px;  float:left; margin-bottom:20px; margin-top:-8px;" src="{{asset('bundles/eltoncore/images/turquoise.jpg')}}"/>
										<a data-toggle="collapse" data-parent="#accordion" style="padding-right:10px; color:black;" href="#collapseTwo">Pourquoi proposer les ressources pédagogiques uniquement sur Internet ? </a>
									</h2>
									<p id="collapseTwo" class="panel-collapse screenMl20 collapse ">Nous voyons plusieurs intérêts et avantages à proposer la méthode en ligne. Le premier est clairement de pouvoir immédiatement s’adapter aux supports numériques, en proposant des ressources multimédia. Ensuite, cela permet de mettre à jour très simplement le contenu, et ainsi de pouvoir rebondir rapidement sur les retours effectués par les utilisateurs. C’est aussi une économie de papier et de temps passé à la photocopieuse : cette méthode permet de ne rien imprimer du tout, ou d’imprimer directement à partir du fichier, ce qui donnera une impression de meilleur qualité qu’une photocopie. Enfin, cela offre la possibilité aux élèves d’accéder en ligne au contenu choisi par le professeur et de se passer de livre ! </p>

							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-7">
									<h2 class="sectionH2bis">
										<img class="resizeSpan spanFAQ" style="padding-right: 25px;  float:left; margin-bottom:20px; margin-top:-8px;" src="{{asset('bundles/eltoncore/images/noir.jpg')}}"/>
										<a data-toggle="collapse" data-parent="#accordion" style="padding-right:10px; color:black;" href="#collapseThree">La méthode est-elle complète aujourd’hui ?</a>
									</h2>
									<p id="collapseThree" class="panel-collapse screenMl20 collapse "><b>Oui et non !</b> Les notions de cours à aborder sont toutes présentes et utilisables dès la première connexion. Ce sont les ressources qui demandent un temps de développement supplémentaire qui ne sont pas encore disponibles : vidéos, jeux interactifs, quizz, etc. Leur mise en ligne est prévue pour le début d’année 2015 </p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-7">
									<h2 class="sectionH2bis">
										<img class="resizeSpan spanFAQ" style="padding-right: 25px;  float:left; margin-bottom:20px; " src="{{asset('bundles/eltoncore/images/bleuclair.jpg')}}"/>
										<a data-toggle="collapse" data-parent="#accordion" style="padding-right:10px; color:black;" href="#collapseFour">Comment s’abonner ? Se connecter ?</a>
									</h2>
									<p id="collapseFour" class="panel-collapse screenMl20 collapse ">C’est en haut à droite de votre écran que vous trouverez les boutons d’inscription et de connexion à votre espace abonné. Vous serez alors guidé par les indications données à l’écran. À l’abonnement, vous pourrez payer directement ou demander à recevoir une facture. Dans ce dernier cas, l’accès à la méthode sera limitée jusqu’à réception du paiement </p>
							</div>
						</div>
					</div>
				</div>