<header>
    <div class="container"  style="padding:0;">
        <div class="row">
        <div class="col-md-3 logo" style="margin-top: 10px;padding:0;" >
            <a href="{{path('index')}}">
            <img class="resizeHeaderTeacherElton  hidden-sm hidden-xs" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
            <img class="resizeHeaderTeacherLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
            </a>
        </div>
        {% if selectedDivision %}
            <div class="col-md-6" style="margin-top:15px;padding:0;">
                <div class="buttonTableCont">       
            <div class="dropdown buttonClass buttonTable violet">
                <a style="color:white;" href="#" role="button" data-toggle="dropdown" id="dropDownDivision">
                    {{selectedDivision.libelle}}
                    <span class="choose"></span>
                </a>
                <ul class="dropdown-menu btn-divisionUl" aria-labelledby="dropDownDivision" role="menu">
                    {% for division in othersDivisions %}
                        <a href="{{path('division_change', {'id' : division.id} ) }}">{{division.libelle}}</a>
                        <li class="divider"></li>
                    {% endfor %}
                    <a href="{{path('teacher_create_division')}}">Nouvelle classe</a>
                </ul>
            </div>
                </div>
            </div>
        <div class="buttons col-md-3" style="padding:0;">
            {% if is_granted('ROLE_ADMIN') %}
                <span class="hidden-sm hidden-xs">{{user.firstName}} {{user.name | upper}}</span>
                <a href="{{path('sonata_admin_dashboard')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/admin.jpg')}}"/>
                </a>
                <a href="{{path('teacher_options')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/edit.png')}}"/>
                </a>
                <a href="{{path('fos_user_security_logout')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/logout.png')}}"/>
                </a>
            {% elseif is_granted('ROLE_USER') %}
                {{user.firstName}} {{user.name | upper}}
                <a href="{{path('teacher_options')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/edit.png')}}"/>
                </a>
                <a href="{{path('fos_user_security_logout')}}">
                    <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/logout.png')}}"/><br/>
                </a>
            {% endif %}
        </div>
        </div></div>
        
        {% endif %}
</header>
{# Menu teacher #}
<nav style="margin-top: 50px;">
    <div class="centered-pills menuBarTeacher" role="navigation">
        {% if selectedDivision %}
        <ul class="nav nav-pills">
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('practice')}}">Pratiquer</a>    
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('culture')}}">Culture</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a class="myEltonButtonMenu text-center" href="{{path('acquis')}}">Acquis</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a  id="panier" class="myEltonButtonMenu text-center" href="{{path('show_cart')}}">
                    {% if cartNumber > 0 %}
                    <p id="nbPanier" class="redDot">{{cartNumber}}</p>
                    {% endif %}
                    Mon Panier
                </a>
            </li>
            <li class="divider-vertical"></li>
        </ul>
        {% endif %}
    </div>
</nav>