<header>
    <div class="container"  style="padding:0;">
        <div class="row">
            <div class="col-md-3 logo" style="margin-top: 10px;padding:0;" >
                <a href="{{path('index')}}">
                <img class="resizeHeaderTeacherElton  hidden-sm hidden-xs" src="{{asset('bundles/eltoncore/images/smallElton_orange.png')}}"/>
                <img class="resizeHeaderTeacherLogo" src="{{asset('bundles/eltoncore/images/Logo.jpg')}}"/>
                </a>
            </div>
            <div class="buttons col-md-3" style="padding:0;">
                <a href="{{path('fos_user_security_logout')}}">
                   <img class="btn-gestion" src="{{asset('bundles/eltoncore/images/logout.png')}}"/>
                </a>
            </div>
        </div>
    </div>
</header>
{# Menu teacher inactif #}
<nav style="margin-top: 50px;">
    <div class="centered-pills menuBarTeacher" role="navigation">
    </div>
</nav>