{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="cms-block cms-block-element">
        <table class="table table-condensed sonata-ba-list">
            <tbody>
                <tr>
                    <td colspan="3" style="background: none repeat scroll 0 0 #F7F7F7;">
                        <strong>{{ settings.title }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-label">Jumbotron</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link" href="{{ path('jumbotron_update') }}">
                                <i class="fa fa-plus-circle"></i>
                                Modifier
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-label">Prof inactifs</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link" href="{{ path('teacher_inactif_list') }}">
                                <i class="glyphicon glyphicon-list"></i>
                                Liste
                            </a>
                        </div>
                    </td>
                </tr>
                 <tr>
                    <td class="sonata-ba-list-label">Prof en attente</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link" href="{{ path('teacher_paying_list') }}">
                                <i class="glyphicon glyphicon-list"></i>
                                Liste
                            </a>
                        </div>
                    </td>
                </tr>
                 <tr>
                    <td class="sonata-ba-list-label">Prof par flyer</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link" href="{{ path('admin_flyer_create') }}">
                                <i class="fa fa-plus-circle"></i>
                                Créer
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}