{% form_theme form _self %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control "/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget -%}
      <textarea class="form-control resizable" rows="5" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{% block checkbox_widget -%}
        <input style="margin: -5px 5px 0px 9px;" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <div class="center">
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}  class="buttonAll violetBis">{{ label|trans({}, translation_domain) }}</button>
    </div>
{% endspaceless %}
{% endblock button_widget %}
    
{% block form_row %}
{% spaceless %}
    <div class="form-group ml150">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form)}}
    </div>
{% endspaceless %}
{% endblock form_row %}
