{% form_theme form _self %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control "/>
{% endspaceless %}
{% endblock form_widget_simple %}

    
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}  class="btn bold btnBeigeEltonPetit mlSubmit">{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}
    
{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup class="form-control" label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option class="form-control " value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

    
{% block form_row %}
{% spaceless %}
    <div class="form-group ml150">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form)}}
    </div>
{% endspaceless %}
{% endblock form_row %}