{% extends '::base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="lessonCategoryTitle" style="color: grey;">Mon panier d'activités</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                 <div id="unsetted">
                    <div id="unsetted1" style="width:50%; float:left;">
                        {% if cart %}
                            {% for cartactivity in cart %} 
                                {% if loop.index > 3 %}
                                {% else %}                                      
                                    <div class="bouger" style="" onclick="setSelect({{cartactivity.activity.id}}, {{cartactivity.cart.id}})" id="{{cartactivity.activity.id}}">
                                        <img class="resizeCartPicture" src="{{ asset(cartactivity.activity.file.uploadDir ~ '/' ~ cartactivity.activity.file.id ~ '.' ~ cartactivity.activity.file.url) }}" alt="{{cartactivity.activity.file.alt}}"/>
                                        <p style="margin-left:0px!important">{{ cartactivity.activity }}</p>
                                    </div> <br/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="unsetted2" style="width:50%; float:right;">
                        {% if cart %}
                            {% for cartactivity in cart %} 
                                {% if loop.index < 4 %}
                                {% else %}                                      
                                    <div class="bouger" style="" onclick="setSelect({{cartactivity.activity.id}}, {{cartactivity.cart.id}})" id="{{cartactivity.activity.id}}">
                                        <img class="resizeCartPicture" src="{{ asset(cartactivity.activity.file.uploadDir ~ '/' ~ cartactivity.activity.file.id ~ '.' ~ cartactivity.activity.file.url) }}" alt="{{cartactivity.activity.file.alt}}"/>
                                        <p style="margin-left:0px!important">{{ cartactivity.activity }}</p>
                                    </div> <br/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div id="setted">
                    <div id="setted1" style="width:50%; float:left;">
                        {% if settedCart %}
                            {% for cartactivity in settedCart %}
                                {% if loop.index > 3 %}
                                {% else %} 
                                    <div class="bouger" style="" onclick="setSelect({{cartactivity.activity.id}}, {{cartactivity.cart.id}})" id="{{cartactivity.activity.id}}">
                                        <img class="resizeCartPicture" src="{{ asset(cartactivity.activity.file.uploadDir ~ '/' ~ cartactivity.activity.file.id ~ '.' ~ cartactivity.activity.file.url) }}" alt="{{cartactivity.activity.file.alt}}"/>
                                        <p style="margin-left:0px!important">{{ cartactivity.activity }}</p>
                                    </div> <br/>
                                {% endif %}
                            {% endfor %}     
                        {% endif %}
                    </div>
                    <div id="setted2" style="width:50%; float:right;">
                        {% if settedCart %}
                            {% for cartactivity in settedCart %}
                                {% if loop.index < 4 %}
                                {% else %} 
                                    <div class="bouger" style="" onclick="setSelect({{cartactivity.activity.id}}, {{cartactivity.cart.id}})" id="{{cartactivity.activity.id}}">
                                        <img class="resizeCartPicture" src="{{ asset(cartactivity.activity.file.uploadDir ~ '/' ~ cartactivity.activity.file.id ~ '.' ~ cartactivity.activity.file.url) }}" alt="{{cartactivity.activity.file.alt}}"/>
                                        <p style="margin-left:0px!important">{{ cartactivity.activity }}</p>
                                    </div> <br/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a id="attribuer">Attribuer à la classe</a>
                <a id="supprimer">Supprimer</a>
                <a href="{{path('empty_cart')}}">Vider la panier</a>
                </div>
            </div>  
    </div>
{% endblock %}  