{% extends "::base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
           <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-11">
                        <h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/violet.jpg')}}" alt="Span"/> &nbsp; Play Bac Presse</h2>

                        <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                        <h4> la mission de Play Bac : changer l’éducation de nos enfants </h4>
                        <p>Depuis sa création en 1985, la mission de Play Bac est de « changer l’éducation de nos enfants ». La création des Incollables en 1989 puis de Mon Quotidien en 1995, vont dans ce sens : Mon Quotidien est le seul journal d’information destiné aux enfants d’Europe </p>

                        <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                        <h4> une expertise reconnue dans le domaine éducatif </h4>
                        <p>Les journaux proposés par Play Bac Presse sont adaptés aux écoliers et recommandés par les professeurs. L’expérience et la créativité de Play Bac en font, aujourd’hui, un acteur reconnu de la production de contenu éducatif pour les enfants </p>

                        <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                        <h4> l’expérience des apprentissages ludiques </h4>
                        <p>Les Incollables, la collection des « Une minute par jour… », ou encore les calendriers 360 symbolisent l’approche pédagogique choisie par Play Bac : originale et ludique, pour apprendre en s’amusant ! </p>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-11">
                    <h2 class="sectionH2"><img class="resizeSpan" src="{{asset('bundles/eltoncore/images/noir.jpg')}}" alt="Span"/> &nbsp; Dominique Esnault</h2>

                    <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                    <h4> un parcours international </h4>
                    <p>Née et élevée en France, Mme Esnault a été amenée à vivre, étudier et travailler en Angleterre (4 ans), au Canada (2 ans) et aux Etats-Unis (24 ans), où elle réside encore aujourd’hui. Elle a passé plus de la moitié de sa vie dans des pays anglophones et maitrise donc parfaitement la langue anglaise qu’elle pratique tous les jours ainsi que les différences entre l’anglais britannique, canadien et américain</p>

                    <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                    <h4> la passion de l’éducation </h4>
                    <p>C’est en décidant de la scolarité de ses enfants, et particulièrement en gérant auprès d’eux l’apprentissage de plusieurs langues en parallèle, que Mme Esnault se plonge dans l’éducation et les outils éducatifs. Cela devient vite pour elle une véritable passion, et elle décide ensuite de reprendre les études pour en faire son métier</p>

                    <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                    <h4>un professeur de langues</h4>
                    <p>Commençant par donner des cours de soutien scolaire et des particuliers de français aux Etats-Unis puis d’anglais en France, elle enseigne l’anglais dans une école primaire près de Paris pendant 3 années, avant de retourner aux Etats-Unis poursuivre ses études.  Mme Esnault est maintenant professeur de français et d’anglais au Texas. Ces expériences lui permettent de bien connaître le déroulement d’un cours de langue avec de jeunes élèves ainsi que le système éducatif français</p>

                    <img style="float:left;" class="resizeSpan2" src="{{asset('bundles/eltoncore/images/span.jpg')}}" alt="Span"/>
                    <h4>une méthode d’apprentissage des langues sur mesure</h4>
                    <p>Les enfants ont une mémoire visuelle très développée pour leur permettre de comprendre le monde autour d’eux. Ils sont aussi très attachés à des routines. Partant de ces principes, et au fil des années, Mme Esnault a développé sa propre méthode d’apprentissage de l’anglais. Une méthode sur mesure pour que les enfants pratiquent une deuxième langue sans perturber le développement de leur langue maternelle. Cette méthode met en avant la pratique orale de la langue en proposant une approche ludique. Très rapidement et sans difficulté, les élèves commencent à faire leurs propres phrases en anglais. C’est la méthode que Play Bac Presse a choisi de retenir pour vous proposer My Elton !</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}