{% extends "::base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h2 class="sectionH2"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/violet.jpg')}}" alt="Span"/> Le programme complet du CP au CM2 </h2>

                    <h4 class="screenMl20" style="color:grey">- découverte de la notion</h4>
                    <h4 class="screenMl20" style="color:grey">- chaque notion est évaluable en fin de séquence</h4>
                    <h4 class="screenMl20" style="color:grey">- progression par trimestre et par niveau</h4>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <h2 class="sectionH2"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/noir.jpg')}}" alt="Span"/> Des activités ludiques clé en main </h2>

                        <h4 class="screenMl20" style="color:grey">- mise en avant de la pratique orale</h4>
                        <h4 class="screenMl20" style="color:grey">- manipulation de mots et d’images</h4>
                        <h4 class="screenMl20" style="color:grey">- réinvestissement des connaissances</h4>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h2 class="sectionH2"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/gris.jpg')}}" alt="Span"/> 3 types d’activités proposés par notion </h2>

                    <h4 class="screenMl20" style="color:grey">- une mise en situation pratique </h4>
                    <h4 class="screenMl20" style="color:grey">- des jeux basés sur des fichiers audio ou image</h4>
                    <h4 class="screenMl20" style="color:grey">- des vidéos et des jeux interactifs en ligne</h4>	
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h2 class="sectionH2" style="text-align:initial"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/turquoise.jpg')}}" alt="Span"/> Vos ressources accessibles partout </h2>

                    <h4 class="screenMl20" style="color:grey">- un site web pour ne plus transporter de cahier à photocopier </h4>
                    <h4 class="screenMl20" style="color:grey">- ressources imprimables et téléchargeables </h4>
                    <h4 class="screenMl20" style="color:grey">- les mises en situation pratique ne nécessitent pas de support</h4>	
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h2 class="sectionH2"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/bleu.jpg')}}" alt="Span"/> Qui est Elton ? </h2>

                    <h4 class="screenMl20" style="color:grey">- un personnage original et attachant</h4>
                    <h4 class="screenMl20" style="color:grey">- il assiste l’enseignant en étant le sujet d’activités</h4>	
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h2 class="sectionH2"><img class="resizeSpan" style="float: left;margin-bottom: 80px;margin-top: -3px;padding-right: 9px;" src="{{asset('bundles/eltoncore/images/bleuclair.jpg')}}" alt="Span"/> Une méthode approuvée </h2>

                    <h4 class="screenMl20" style="color:grey">- pas de cours magistral : place à la pratique !</h4>
                    <h4 class="screenMl20" style="color:grey">- des activités facultatives selon la progression de votre classe</h4>
                    <h4 class="screenMl20" style="color:grey">- la méthode peut être prise n’importe quand : les bases sont revues chaque année</h4>
		</div>
            </div>
	</div>
    </div>
{% endblock %}